* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    background: #FC5C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-item a {
    font-size: 30px;
    color: white;
}

.card {
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1 {
    color: #D9AFD9;
}

.buttom {
    display: flex;
    justify-content: space-between;
}

.forget {
    display: flex;
    justify-content: space-between;
}

p {
    color: green;
    font-size: 30px;
    font-weight: bold;
}

#body {
    display: flex;
    justify-content: center;
}