<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>code help dhaba</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="navcontainer">
                <nav>
                    <ul id="navList">
                        <li>
                            <h1>DAILY JOURNAL
                        </li>
                        </h1>
                        <li>
                            <div id="navbar">
                                <a href="home"> Home</a>
                                <a href="contact"> Contact</a>
                                <a href="about"> about</a>

                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <div class="contentBox">
                <section>
                    <div class="item">
                        <div class="leftBox">
                            <h2>Gulab jamun</h2>
                            <div>
                                <h2> ingredient</h2>
                                <ul class="ingbox">
                                    <li>sugar</li>
                                    <li> bread</li>
                                    <li>oil</li>
                                </ul>
                            </div>
                            <h2>Recipe</h2>
                            <div>
                                <ol class="recipebox">
                                    <li>Loremonsectetur aliquid tenctio, quasi? Laborum labore iste, quasi veritatis consectetur fugiat beatae, impedit accusantium sit magnam ex? Voluptatibus architecto sit earum ut, magnam eos dolorem tempora fuga!</li>dipisicing
                                    elit. Porro error ullam reiciendis accusantium repudiandae, pariatur quos sequi aperiam quisquam illum vitae debitis distinctio praesentium aut officiis natus. ducimus dolores.
                                    </li>
                                    <li>Lorem ipsum dolor s
                                    </li>
                                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit eos sunt eum, laboriosam incidunt unde consequatur architecto recusandae, nobis omnis ipsum voluptate excepturi ea ad, maxime vitae animi odio? Nulla.</li>
                                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique incidunt iusto facilis quam nobis sunt cupiditate harum, dicta autem cumque asperiores obcaecati ducimus veritatis deleniti dolor minus. Pariatur, maiores
                                        explicabo!
                                    </li>
                            </div>


                        </div>
                        <div class="rightBox">
                            <img src="gulab.jpg">
                        </div>
                    </div>
                </section>

            </div>
        </main>
        <main id="mainBox">
            <div class="contentBox">
                <section>
                    <div class="item">
                        <div class="leftBox">
                            <h2>Barphi</h2>
                            <div>
                                <h2> ingredient</h2>
                                <ul>
                                    <li>sugar</li>
                                    <li> bread</li>
                                    <li>oil</li>
                                </ul>
                            </div>
                            <h2>Recipe</h2>
                            <div>
                                <ol>
                                    <li>Loremonsectetur aliquid tenctio, quasi? Laborum labore iste, quasi veritatis consectetur fugiat beatae, impedit accusantium sit magnam ex? Voluptatibus architecto sit earum ut, magnam eos dolorem tempora fuga!</li>dipisicing
                                    elit. Porro error ullam reiciendis accusantium repudiandae, pariatur quos sequi aperiam quisquam illum vitae debitis distinctio praesentium aut officiis natus. ducimus dolores.
                                    </li>
                                    <li>Lorem ipsum dolor s
                                    </li>
                                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit eos sunt eum, laboriosam incidunt unde consequatur architecto recusandae, nobis omnis ipsum voluptate excepturi ea ad, maxime vitae animi odio? Nulla.</li>
                                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique incidunt iusto facilis quam nobis sunt cupiditate harum, dicta autem cumque asperiores obcaecati ducimus veritatis deleniti dolor minus. Pariatur, maiores
                                        explicabo!
                                    </li>
                            </div>


                        </div>
                        <div class="rightBox">
                            <img src="burphi.jpg">
                        </div>
                    </div>
                </section>

            </div>
        </main>
        <footer>
            <div class="footerBox">
                <p>
                    Copyright &copy; code help dhabba | pvt ltd 2023 | all right reserve
                </p>
            </div>
        </footer>
    </div>


</body>

</html>